body, html{
    height: 100%;
    max-width: 100%;
    background-image: url(./Assets/images/weatherBG.png);
}

.auth-container{
    margin: 0;
    padding: 10%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-image{
    margin: auto;
    margin-top: 20px;
}

.dashboard-container{
    overflow-x: hidden;
    height: 100vh;
}